kind: Secret
apiVersion: v1
metadata:
  name: "{{ kubeadmincreds_secret_name }}"
  namespace: "{{ cluster_name }}"
  labels:
    hive.openshift.io/cluster-deployment-name: "{{ cluster_name }}"
    hive.openshift.io/cluster-provision-name: "{{ kubeadmincreds_provision_name }}"
    hive.openshift.io/secret-type: kubeadmincreds
data:
  password: >-
    {{ oc_sa_token | b64encode }}
  username: b3BlbnNoaWZ0LWdpdG9wcy1hcmdvY2QtYXBwbGljYXRpb24tY29udHJvbGxlcg==
type: Opaque