kind: Secret
apiVersion: v1
metadata:
  name: "{{ kubeconfig_secret_name }}"
  namespace: "{{ cluster_name }}"
  labels:
    hive.openshift.io/cluster-deployment-name: "{{ cluster_name }}"
    hive.openshift.io/cluster-provision-name: "{{ kubeconfig_provision_name }}"
    hive.openshift.io/secret-type: kubeconfig
data:
  kubeconfig: >-
    {{ lookup('template', 'kubeconfig-template.j2') | b64encode }}
  raw-kubeconfig: >-
    {{ lookup('template', 'kubeconfig-template.j2') | b64encode }}
type: Opaque