kind: Secret
apiVersion: v1
metadata:
{% if cluster_name == 'mgmt' %}
  name: "local-cluster-cluster-secret"
  namespace: "local-cluster"
  labels:
    apps.open-cluster-management.io/cluster-name: "local-cluster"
    apps.open-cluster-management.io/cluster-server: "api.{{ cluster_name }}.{{ base_domain }}"
    apps.open-cluster-management.io/secret-type: acm-cluster
    argocd.argoproj.io/secret-type: cluster
data:
  config: {{ acm_cluster_config | to_json | b64encode}}
  name: 'bG9jYWwtY2x1c3Rlcgo='
{% else %}
  name: "{{ cluster_name }}-cluster-secret"
  namespace: "{{ cluster_name }}"
  labels:
    apps.open-cluster-management.io/cluster-name: "{{ cluster_name }}"
    apps.open-cluster-management.io/cluster-server: "api.{{ cluster_name }}.{{ base_domain }}"
    apps.open-cluster-management.io/secret-type: acm-cluster
    argocd.argoproj.io/secret-type: cluster
data:
  config: {{ acm_cluster_config | to_json | b64encode}}
  name: {{ cluster_name | b64encode}}
{% endif %}
  server: {{ k8s_auth_host | b64encode}}
type: Opaque