apiVersion: v1
data:
  tls.crt: {{ (api_cert + '\n') | b64encode }}
  tls.key: {{ (api_cert_key + '\n') | b64encode }}
kind: Secret
metadata:
  name: api-cert-secret
  namespace: openshift-config
type: kubernetes.io/tls