apiVersion: v1
kind: Secret
data:
  aws_access_key_id: "{{ cloudwatch_aws_access_key | b64encode}}"
  aws_secret_access_key: "{{ cloudwatch_aws_secret_key | b64encode}}"
metadata:
  name: cw-secret
  namespace: "openshift-logging"
type: Opaque
