---
apiVersion: v1
kind: Secret
metadata:
    name: git-authentication-0
    namespace: cluster-hibernation-resource-ns-0
data:
    user: "{{ git_user | b64encode }}"
    accessToken: "{{ git_token | b64encode }}"