apiVersion: v1
data:
  password: {{ radiant_password | b64encode }}
  username: {{ radiant_binddn | b64encode }}
kind: Secret
metadata:
  name: ldap-group-sync
  namespace: group-sync-operator
type: Opaque