---
apiVersion: v1
data:
  tls.crt: {{ (ingress_cert + '\n') | b64encode }}
  tls.key: {{ (ingress_cert_key + '\n') | b64encode }}
kind: Secret
metadata:
  name: ingress-cert-secret
  namespace: openshift-ingress
type: kubernetes.io/tls
---
apiVersion: v1
data:
  ca-bundle.crt: |
    {{ ingress_cert_ca | indent }}
kind: ConfigMap
metadata:
  name: ingress-custom-ca
  namespace: openshift-config