apiVersion: v1
data:
  tls.crt: {{ (console_cert + '\n') | b64encode }}
  tls.key: {{ (console_cert_key + '\n') | b64encode }}
kind: Secret
metadata:
  name: console-tls
  namespace: openshift-config
type: kubernetes.io/tls