apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert | b64encode }}
    server: https://api.{{ cluster_name }}.{{ base_domain }}:6443
  name: api-{{ cluster_name }}
contexts:
- context:
    cluster: api-{{ cluster_name }}
    namespace: openshift-gitops
    user: openshift-gitops-argocd-application-controller
  name: openshift-gitops-argocd-application-controller
current-context: openshift-gitops-argocd-application-controller
kind: Config
preferences: {}
users:
- name: openshift-gitops-argocd-application-controller
  user:
    token: {{ oc_sa_token }}
