{{ if .Values.container_security_operator }}
apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: openshift-operators
  annotations:
    openshift.io/node-selector: ""
  labels:
    openshift.io/cluster-monitoring: "true"
{{ end }}