{{ if .Values.gatekeeper_operator }}
---
apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sBuilds
metadata:
  name: no-dockerfile-builds
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  match:
    kinds:
      - apiGroups: ["build.openshift.io"]
        kinds: ["BuildConfig"]
  parameters:
    sources:
      - source: dockerfile
    repos:
{{- range $allowed_git_repos := $.Values.allowed_git_repos }}
      - {{ .repo }}
{{- end }}
{{ end }}
