apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/openshift-gitops-operator.openshift-operators: ''
  name: openshift-gitops-operator
  namespace: openshift-operators
spec:
  channel: {{ redhat_operators.gitops.channel }}
  installPlanApproval: {{ redhat_operators.gitops.installPlanApproval }}
  name: {{ redhat_operators.gitops.name }}
  source: {{ redhat_operators.gitops.source }}
  sourceNamespace: {{ redhat_operators.gitops.sourceNamespace }}
