---
kind: Secret
apiVersion: v1
metadata:
  name: github-creds
  namespace: {{ gitops_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  url: "{{ github_url }}"
type: Opaque
