{% if artifactory_pull_secret is defined %}
---
kind: Secret
apiVersion: v1
metadata:
  name: docker-artifactory
  namespace: {{ gitops_namespace }}
data:
  .dockerconfigjson: {{ artifactory_pull_secret }}
type: kubernetes.io/dockerconfigjson
{% endif %}
---
kind: Secret
apiVersion: v1
metadata:
  name: redhat-registries
  namespace: {{ gitops_namespace }}
data:
  .dockerconfigjson: {{ pull_secret | b64encode }}
type: kubernetes.io/dockerconfigjson
---
kind: Secret
apiVersion: v1
metadata:
  name: openshift-gitops-cluster
  namespace: {{ gitops_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
stringData:
  admin.password: {{ gitops_admin_passphrase }}
type: Opaque
---
kind: Secret
apiVersion: v1
metadata:
  name: openshift-gitops-gpg-private-keys
  namespace: {{ gitops_namespace }}
  managedFields:
    - manager: Mozilla
      operation: Update
      apiVersion: v1
      fieldsType: FieldsV1
      fieldsV1:
        'f:data':
          .: {}
          'f:argocd.key': {}
        'f:type': {}
data:
  argocd.key: {{ argocd_pgp_private_key }}
type: Opaque
{% if ingress_cert is defined %}
---
apiVersion: v1
data:
  tls.crt: {{ (ingress_cert + '\n') | b64encode }}
  tls.key: {{ (ingress_cert_key + '\n') | b64encode }}
kind: Secret
metadata:
  name: openshift-gitops-tls
  namespace: {{ gitops_namespace }}
type: kubernetes.io/tls
{% endif %}
---
kind: Secret
apiVersion: v1
metadata:
  name: autoshift-github
  namespace: {{ gitops_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  url: "{{ github_url }}"
  username: "{{ git_user }}"
  password: "{{ git_token }}"
type: Opaque