apiVersion: v1
kind: Namespace
metadata:
  name: {{ gitops_namespace }}
  annotations:
    openshift.io/node-selector: ""
    managed-admin/subject.name: system:serviceaccounts:{{ gitops_namespace }}
  labels:
    openshift.io/cluster-monitoring: "true"
