kind: Namespace
apiVersion: v1
metadata:
  name: {{ gitops_namespace }}
  annotations:
    openshift.io/node-selector: ""
    managed-admin/subject.name: system:serviceaccounts:{{ gitops_namespace }}
    scheduler.alpha.kubernetes.io/defaultTolerations: >-
      [{"operator": "Exists", "effect": "NoSchedule", "key": "infra"},
      {"operator": "Exists", "effect": "NoExecute", "key": "infra"} ]
  labels:
    openshift.io/cluster-monitoring: "true"
