apiVersion: velero.io/v1
kind: Restore
metadata:
  name: namespaces-resources-restore
  namespace: open-cluster-management-backup
spec:
{% if resources_backup_name is defined %}
  backupName: {{ resources_backup_name }}
{% else %}
  backupName: ""
  scheduleName: resources-schedule
{% endif %}
  excludedResources:
    - nodes
    - events
    - events.events.k8s.io
    - backups.velero.io
    - restores.velero.io
    - resticrepositories.velero.io
    - applicationsets.argoproj.io
    - hostsubnets.network.openshift.io
    - networks.operator.openshift.io
    - apiservers.config.openshift.io
    - authentications.config.openshift.io
    - networks.config.openshift.io
    - builds.config.openshift.io
    - clusteroperators.config.openshift.io
    - clusterversions.config.openshift.io
    - consoles.config.openshift.io
    - dnss.config.openshift.io
    - featureGates.config.openshift.io
    - infrastructures.operator.openshift.io
    - oauths.operator.openshift.io
    - operatorhubs.operator.openshift.io
    - projects.operator.openshift.io
    - proxies.operator.openshift.io
    - schedulers.operator.openshift.io
    - clusternetworks.network.openshift.io
    - flowschemas.flowcontrol.apiserver.k8s.io
    - helmreleases.apps.open-cluster-management.io
    - validatingwebhookconfigurations.admissionregistration.k8s.io
    - mutatingwebhookconfigurations.admissionregistration.k8s.io
    - users.user.openshift.io
    - groups.user.openshift.io
    - identities.user.openshift.io
    - apiservices.apiregistration.k8s.io
    - imagestreams.image.openshift.io
    - replicationcontroller
    - deploymentconfig
    - templateinstances.template.openshift.io
  includedResources:
    - serviceaccounts
    - roles.rbac.authorization.k8s.io
    - rolebindings.rbac.authorization.k8s.io
    - secrets
    - configmaps
    - applications.argoproj.io
  includeClusterResources: false
  excludedNamespaces:
    - ansible-automation-platform
    - default
    - default-broker
    - group-sync-operator
    - hive
    - impl
    - infra
    - kube-node-lease
    - kube-public
    - kube-system
    - local-cluster
    - multicluster-engine
    - newrelic
    - open-cluster-management
    - open-cluster-management-agent
    - open-cluster-management-agent-addon
    - open-cluster-management-backup
    - open-cluster-management-hub
    - openshift
    - openshift-apiserver
    - openshift-apiserver-operator
    - openshift-authentication
    - openshift-authentication-operator
    - openshift-cloud-controller-manager
    - openshift-cloud-controller-manager-operator
    - openshift-cloud-credential-operator
    - openshift-cluster-csi-drivers
    - openshift-cluster-machine-approver
    - openshift-cluster-node-tuning-operator
    - openshift-cluster-samples-operator
    - openshift-cluster-storage-operator
    - openshift-cluster-version
    - openshift-compliance
    - openshift-config
    - openshift-config-managed
    - openshift-config-operator
    - openshift-console
    - openshift-console-operator
    - openshift-console-user-settings
    - openshift-controller-manager
    - openshift-controller-manager-operator
    - openshift-dns
    - openshift-dns-operator
    - openshift-etcd
    - openshift-etcd-operator
    - openshift-file-integrity
    - openshift-gatekeeper-system
    - openshift-host-network
    - openshift-image-registry
    - openshift-infra
    - openshift-ingress
    - openshift-ingress-canary
    - openshift-ingress-operator
    - openshift-insights
    - openshift-kni-infra
    - openshift-kube-apiserver
    - openshift-kube-apiserver-operator
    - openshift-kube-controller-manager
    - openshift-kube-controller-manager-operator
    - openshift-kube-scheduler
    - openshift-kube-scheduler-operator
    - openshift-kube-storage-version-migrator
    - openshift-kube-storage-version-migrator-operator
    - openshift-kubevirt-infra
    - openshift-logging
    - openshift-machine-api
    - openshift-machine-config-operator
    - openshift-marketplace
    - openshift-monitoring
    - openshift-multus
    - openshift-network-diagnostics
    - openshift-network-operator
    - openshift-node
    - openshift-oauth-apiserver
    - openshift-openstack-infra
    - openshift-operator-lifecycle-manager
    - openshift-operators
    - openshift-operators-redhat
    - openshift-ovirt-infra
    - openshift-sdn
    - openshift-service-ca
    - openshift-service-ca-operator
    - openshift-storage
    - openshift-user-workload-monitoring
    - openshift-vsphere-infra
    - prod
    - sbx
    - stackrox
    - test
  restorePVs: false